In [2]:
print("I am not lazy anymore")
a=5
print(a)
name = input("what is your name: ")
age = input("what is your age: ")
print("you will be 100 in " , 100-int(age) , " years")

I am not lazy anymore
5
what is your name: Taran
what is your age: 19
you will be 100 in  81  years

In [3]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [4]:
for i in range(10):
  print("Taran")

Taran
Taran
Taran
Taran
Taran
Taran
Taran
Taran
Taran
Taran

In [5]:
for i in range(2,21,2):
  print(i)

2
4
6
8
10
12
14
16
18
20

In [6]:
num = int(input("Enter your number: "))
if num >10:
  print("Big number")
else:
  print("Small number")

Enter your number: 25
Big number

In [7]:
marks = int(input("Enter your marks: "))
if marks >= 40:
  print("PASS")
else:
  print("FAIL")

Enter your marks: 78
PASS

In [8]:
sub_1 = int(input("Enter your marks for subject 1: "))
sub_2 = int(input("Enter you marks for subject 2: "))
sub_3 = int(input("Enter your marks for subject 3: "))
average = (sub_1+sub_2+sub_3)/3
if average  >= 40:
  print("Pass")
else:
  print("Fail")
if sub_1 >=90 and sub_2>=90 and sub_3>=90:
  print("Topper")

Enter your marks for subject 1: 97
Enter you marks for subject 2: 90
Enter your marks for subject 3: 94
Pass
Topper